@font-face{
	font-family:"STHeitiLight";
	src:url("../fonts/STHeitiLight.ttf");
}
.wrap {
	width:6.4rem;
	font-family: "Microsoft YaHei", "黑体";
}
/*万能清浮动*/
 .clearfix:before,.clearfix:after{
    display:block;
    content:"";
 }
.clearfix:after{
    clear:both;
}
/*IE 6需要加上以下代码*/
.clearfix{zoon:1;}
.header{
	width:6.4rem;
	height: 0.88rem;
	background-color: #50bbdb;
}
.header a:nth-child(1) {
	display: block;
	float: left;
	width:0.43rem;
	height: 0.43rem;
	margin-top: 0.23rem;
	margin-left:0.45rem;
}
.header a:nth-child(1) img{
	display: block;
	width:0.43rem;
	height: 0.43rem;
}
.header p{
	width:4.6rem;
	float:left;
	font-size: 0.28rem;
	color: #ffffff;
	line-height:0.88rem;
	text-align: center;
}
.header a:nth-child(3) {
	display: block;
	float: right;
	width:0.52rem;
	height: 0.39rem;
	margin-right: 0.21rem;
	margin-top: 0.21rem;
}
.header a:nth-child(3) img{
	display: block;
	width:0.52rem;
	height: 0.39rem;
}
/*主要内容标题*/
.main{
	width:6.4rem;
}
.main_intro{
	width:6.4rem;
	background: #ebebeb;
	font-size: 0.22rem;
	overflow: hidden;
}
.main_intro li:nth-child(2){
	width:1.06rem;
	font-size:0.22rem;
	float: left;
	line-height: 0.68rem;
	text-align: center;
}
.main_intro li:nth-child(1),li:nth-child(3){
	width:2.66rem;
	height: 0.34rem;
	border-bottom: 0.1px #d5d5d5 solid ;
	float: left;
}
.main_intro li:nth-child(3){
	float: right;
}
.main_title{
	width:5.56rem;
	height: 1.92rem;
	margin: 0 auto;
}
.main_title img{
	display: block;
	float: left;
	width:1.5rem;
	height: 1.5rem;
	margin-top: 0.2rem;
}
.main_title p{
	float: right;
	text-align: center;
	width:3rem;
	font-size: 0.28rem;
	line-height: 0.68rem;
	border-bottom: 1px dotted #cccccc;
	margin-top: 0.62rem;
	margin-right: 0.6rem;
}
.main_content{
	width:5.47rem;
	font-size: 0.21rem;
	margin: 0 auto;
	border: 1px dotted #cccccc;
	padding: 0.2rem 0.1rem;
	margin-bottom: 0.4rem;
}
.main_content p{
	line-height: 0.36rem;
}

/*领队产品*/
.main_leader{
	width: 6.4rem;
}
.leader_pic{
	width:6.4rem;
	height: 1.85rem;
	margin-bottom: 0.1rem;
	color:#fff;
	position: relative;
	overflow: hidden;
}
.leader_pic .top{
	padding-left: 0.20rem;
	width:6rem;
	font-size: 0.24rem;
	line-height: 0.48rem;
	background: url(../img/leader_massage_ming.png);
	background-size: 6.2rem 0.48rem;
	position: absolute;
	left:0.1rem;
}
.leader_pic .bottom{
	padding-left: 0.20rem;
	margin:0 auto;
	width:6rem;
	font-size: 0.2rem;
	line-height: 0.28rem;
	background: url(../img/leader_massage_ming.png);
	background-size: 6.2rem 0.28rem;
	position: absolute;
	left:0.1rem;
	top:1.58rem;
}
.leader_pic img{
	width:6.2rem;
	height: 1.85rem;
	display: block;
	margin:0 auto;
}
.cicle {
	width:1rem;
	height: 1rem;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 1rem;
	padding-top:0.1rem;
	padding-left: 0.1rem;
	position: absolute;
	top:1.3rem;
	left:5.2rem;
}
.cicle div{
	width:0.9rem;
	height:0.9rem;
	background: #ee7e3e;
	border-radius: 50%;
	font-size: 0.2rem;
	line-height: 0.26rem;
	text-align: center;
}
.cicle div p {
	height: 0.23rem;
	width:0.8rem;
	color:#fff;
	padding-top: 0.2rem;
	margin:0 auto;
	overflow: hidden;
	text-align:center;
	clear:both;
}
.big{
	float: left;
	display: block;
	font-size: 0.22rem;
}
.smill{
	display: block;
	float: left;
	font-size: 0.12rem;
	margin-top:0.03rem;
}
.letter_space{
	font-size: 0.19rem;
}

/*footer*/
.footer{
	width:6.4rem;
	height: 0.84rem;
	background-color:#ebebeb;
	font-size: 0.2rem;
	overflow: hidden;
}
.footer a{
	display: block;
	text-decoration: none;
	width:1.2rem;
	margin:0 auto;
	margin-top: 0.26rem;
	color:#6e6e6e;
	height: 0.27rem;
	line-height: 0.27rem;
	/*background-color: red;*/
	background:url(../img/leader_massage_footer.png) no-repeat right;
	background-size:0.25rem 0.25rem;
}