@font-face{
	font-family:"STHeitiLight";
	src:url("../fonts/STHeitiLight.ttf");
}
.wrap {
	width:6.4rem;
	font-family: "黑体";
}
/*万能清浮动*/
 .clearfix:before,.clearfix:after{
    display:block;
    content:"";
 }
.clearfix:after{
    clear:both;
}
/*IE 6需要加上以下代码*/
.clearfix{zoon:1;}
.header{
	width:6.4rem;
	height: 0.88rem;
	background-color: #50bbdb;
}
.header a {
	display: block;
	float: left;
	width:0.28rem;
	height: 0.54rem;
	margin-top: 0.17rem;
	margin-left:0.19rem;
}
.header img {
	display: block;
	float: left;
	width:0.28rem;
	height: 0.54rem;
}
.header p{
	float: right;
	font-size: 0.28rem;
	color: #ffffff;
	line-height:0.88rem;
	margin-right: 2.65rem;
}

/*菜单*/
.nav {
	width:6.4rem;
	height: 0.74rem;
	position: relative;
	background: #fff;
	z-index: 999999;
}
.nav li:nth-child(1){
	width:3.19rem;
	border-right:1px solid #d2d2d2;
	height:0.74rem;
	font-size: 0.24rem;
	float: left;
	text-align: center;
	line-height: 0.74rem;
}
.nav li:nth-child(2){
	width:3.19rem;
	height:0.74rem;
	font-size: 0.24rem;
	float: right;
	text-align: center;
	line-height: 0.74rem;
}
.nav li i {
	font-size: 0.14rem;
	color:#b5b5b5;
	margin-left:0.14rem;
}
.P_changeNav{
	width:6.4rem;
	height: 3.62rem;
	background: #fff;
	font-size: 0.24rem;
	position: absolute;
	top:1.6rem;
	display: none;
	z-index: 9999999999;
}
.P_changeNav div{
	width:6.4rem;
	height: 3.62rem;
	margin-top: -0.1rem;
	background: url(../img/one_person_line1.png) no-repeat  top;
	background-size: 6.4rem 0.14rem;
}
.P_changeNav a{
	display: block;
	text-decoration: none;
	height: 0.69rem;
	width:6.18rem;
	border-bottom: 1px solid #aaaaaa;
	line-height: 0.69rem;
	padding-left: 0.22rem;
	color:#666666;
}
.P_changeNav a:nth-child(1){
	padding-top:0.14rem;
}
.P_changeNav2 {
	width:6.4rem;
	height: 1.59rem;
	background: #fff;
	font-size: 0.24rem;
	position: absolute;
	top:1.6rem;
	display: none;
	z-index: 9999999999;
}
.P_changeNav2 div{
	width:6.4rem;
	height: 3.62rem;
	margin-top: -0.1rem;
	background: url(../img/one_person_line2.png) no-repeat  top;
	background-size: 6.4rem 0.14rem;
}
.P_changeNav2 a{
	display: block;
	text-decoration: none;
	height: 0.69rem;
	width:6.18rem;
	border-bottom: 1px solid #aaaaaa;
	line-height: 0.69rem;
	padding-left: 0.22rem;
	color:#666666;
}
.P_changeNav2 a:nth-child(1){
	padding-top:0.14rem;
}
#overlay {
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
    height: 100%; /* 此处的图层要大于页面 */
    display: none;
}
/*主要内容*/
.main{
	background-color:#f1f1f1;
	width:6.4rem;
	padding-bottom:0.16rem;
	font-size: 0.24rem;
	overflow: hidden;
}
.massagelist{
	margin-top:0.14rem;
	background-color: #fff;
}
.massagelist ul{
	width:6.4rem;
}
/*第一行文本*/
.text_list1{
	width:6rem;
	margin-left: 0.2rem;
	font-size:0.18rem;
	color:#999999;
	overflow: hidden;
	line-height:0.48rem;
	border-bottom: 1px dotted #cccccc;
}
.text_list1 span:nth-child(1){
	float: left;
}
.text_list1 span:nth-child(2){
	float: right;
	margin-right: 0.1rem;
}
/*第2行文本*/
.text_list2 {
	width:6rem;
	margin-left: 0.2rem;
	line-height: 0.5rem;
}
/*第3行文本*/
.text_list3 {
	width:6.4rem;
	padding:0.05rem 0.2rem 0.2rem 0.2rem;
	border-bottom: 1px solid #cccccc;
}
.text_list3 p:nth-child(1){
	float: left;
	font-size: 0.18rem;
	color:#999999;
	width:0.85rem;
}
.text_list3 p:nth-child(2){
	float: left;
	width:2.17rem;
	font-size: 0.18rem;
	color:#999999;
}
.text_list3 p:nth-child(3){
	float: left;
	width:2.17rem;
	font-size: 0.18rem;
	color:#ea561d;
	height:0.15rem;
}
.text_list3 p:nth-child(3) span{
	font-size:0.14rem;
	vertical-align:bottom;
}
/*第4行文本*/
.text_list4 {

}
.text_list4 p{
	float: left;
	color: #ea561d;
	line-height: 0.58rem;
	margin-left: 0.2rem;
}
.text_list4 select{
	float: right;
	width:0.88rem;
	margin-right: 0.28rem;
	border: 1px solid #cccccc;
	margin-top:0.1rem;
	text-align: center;
	line-height: 0.36rem;
	outline: none;
}

