@font-face{
	font-family: "apple";
	src:url("../font/STHeiti-Light.ttc")
}
.clearfix:before,.clearfix:after{
    display:block;
    content:"";
}
.clearfix:after{
    clear:both;
 }
.wrap{
	font-family: "apple";
	width:6.4rem;
	background:#50bbdb;
	height: 0.88rem;
}
header img:nth-child(1){
	width:0.28rem;
	height: 0.54rem;
	display: block;
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.17rem;
}
header p{
	width:5rem;
	height: 0.73rem;
	text-align: center;
	font-size:0.28rem;
	color: #fff;
	float: left;
	padding-top: 0.15rem;
}
header span{
	color:#fff;
	font-size:0.18rem;
	display: block;
}
header img:nth-child(3){
	display: block;
	float: right;
	width:0.52rem;
	height: 0.12rem;
	margin-right: 0.13rem;
	margin-top: 0.4rem;
}
main{
	width:6.4rem;
	background:#f1f1f1;
	overflow: hidden;
}
.main_one {
	width:6.4rem;
	background: #fff;
	margin-top: 0.03rem;
	margin-bottom: 0.2rem;
}
.main_o_l {
	float: left;
	width:1.8rem;
	position: relative;
}
.main_o_l img{
	width:1.8rem;
	height: 1.68rem;
}
.main_o_l div{
	font-size:0.2rem;
	width:1.8rem;
	height:0.3rem;
	color:#fff;
	text-align: center;
	line-height: 0.3rem;
	position: absolute;
	top:1.37rem;
}
.main_o_r {
	float: left;
	font-size: 0.24rem;
	margin-left: 0.1rem;
	width:4.3rem;
}
.main_o_r li{
	margin-top: 0.07rem;
}
.m_o_r_text1 span{
	font-weight: bold;
}
.m_o_r_text3{
	font-size:0.2rem;
	color:#ccc;
}
.m_o_r_text4 {
	margin-top: 0.1rem;
}
.m_o_r_text4 img{
	width:0.29rem;
	height: 0.37rem;
	display: block;
	float: left;
}
.m_o_r_text4 p:nth-child(2){
	font-size:0.18rem;
	float: left;
	margin-top: 0.05rem;
	margin-left: 0.08rem;
}
.m_o_r_text4 p:nth-child(3)
{
	font-size:0.18rem;
	float:right;
	font-size: 0.28rem;
	color:#ea561d;
	height:0.25rem;
}
.m_o_r_text4 span{
	display: block;
	padding-top: 0.07rem;
	font-size:0.18rem;
	float: left;
}
.m_o_r_text4 span:nth-child(2){
	float: right;
}

footer{
	width:6.4rem;
	height: 1rem;
	background: #fff;
}
.cityNav{
	width:6.4rem;
	height: 1rem;
	position: fixed;
	bottom:0;
	overflow: hidden;
	border-top:1px solid #cccccc;
}
 .cityNav a {
	text-decoration: none;
	display: block;
	float: left;
	width:1.59rem;
	height: 1rem;
	background: #fff;
	padding-top: 0.1rem;
}
.cityNav a i{
	color:#cdcdcd;
	font-size: 0.5rem;
	display: block;
	text-align: center;
}
.cityNav a p{
	color:#000;
	display: block;
	text-align: center;
	font-size: 0.2rem;
}
/*城市切换行程天数出行时间*/
.cityNavbox {
	width:6.4rem;
	height: 4.2rem;
	position: fixed;
	bottom:0;
	z-index: 9999;
	display: none;
}
.c_top{
	width:6.4rem;
	height:0.7rem;
	color:#50bbdb;
	overflow: hidden;
	background:#50bbdb;
}
.c_top a {
	text-decoration: none;
	color:#fff;
	font-size:0.24rem;
	display: block;
	line-height: 0.7rem;
}
.c_top a:nth-child(1){
	float: left;
	margin-left: 0.3rem;
}
.c_top a:nth-child(2){
	float: left;
	margin-left: 1.97rem;
}
.c_top a:nth-child(3){
	float: right;
	margin-right: 0.3rem;
}
.c_left {
	width:1.95rem;
	height: 3.5rem;
	background: #ebebeb;
	float: left;
}
.c_left li{
	line-height: 0.68rem;
	font-size:0.24rem;
	color: #000;
	text-align: center;
	width:1.95rem;
}
.c_left li:nth-child(1){
	background: #fff;
	color: #50bbdb;
}
.c_right{
	width:4.45rem;
	height: 3.5rem;
	float: right;
	background: #fff;
}
.c_right li{
	overflow: hidden;
	margin-left:0.2rem;
	width:4.1rem;
	line-height: 0.68rem;
	border-bottom: 1px solid #ccc;
	font-size:0.24rem;
}
.c_right p{
	width:3rem;
	margin-left:0.6rem;
	float: left;
}
/*单选框*/
.regular-checkbox {
	display: none;
}
/*打开页面显示的框的背景*/
.regular-checkbox + label {
	border: 1px solid #cacece;
	border-radius: 1px;
	display: inline-block;
	position: relative;
	left:0rem;
	top:0.15rem;
}
/*改变后框内的背景颜色*/
.regular-checkbox:checked + label {
	border: 1px solid  #50bbdb;
}
/*对勾颜色*/
.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 0.14rem;
	position: absolute;
	top: 0px;
	left: 0.03rem;
	color: #50bbdb;
}
/*框的大小*/
.big-checkbox + label {
	width:0.41rem;
	height:0.31rem;
}
/*对勾大小位置*/
.big-checkbox:checked + label:after {
	font-size: 0.28rem;
	top:-0.18rem;
	left: 0.1rem;
}
/*单选框*/
/*遮罩*/
#overlay {
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
    height: 100%; /* 此处的图层要大于页面 */
    display: none;
}



@media screen and (max-width: 320px){

}